{% extends 'base.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block body %}
<div
  id="security-login"
  class="vh-100 row align-items-center no-gutter justify-content-center"
>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('login') }}
{% endblock %}
